
<p align="center">
    <img src="mosef.png" alt="MOSEF Logo" width="300">
</p>
```
</p>

<a href="https://linkedin.com/in/lucasvazelle">Vazelle Lucas  </a> $\cdot$ 
<a href="https://www.linkedin.com/in/mariam-tarverdian">Taverdian Mariam </a> $\cdot$ 2024-2025, MOSEF $\cdot$ 


---


- [Projet Kaggel ](https://www.kaggle.com/competitions/mosef-bank-churn-prediction/)

In [1]:
import pandas as pd

# 1. Import data <a class="anchor" id="Introduction"></a>
---

In [2]:

train_data_path = 'data/train.csv'
test_data_path = 'data/test.csv'

train = pd.read_csv(train_data_path)
test = pd.read_csv(test_data_path)

print("Training Data:")
display(train.head())

print("Testing Data:")
display(test.head())

Training Data:

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,15713774.0,Hsieh,683.0,Germany,Male,49.0,7.0,123837.86,2.0,1.0,1.0,138700.75,1.0
1,1,15682533.0,Hs?eh,608.0,France,Female,30.0,10.0,0.00,2.0,1.0,1.0,146723.72,0.0
2,2,15791550.0,Tsou,539.0,France,Female,32.0,8.0,0.00,1.0,1.0,1.0,94873.60,0.0
3,3,15762762.0,Chiawuotu,530.0,Spain,Female,39.0,8.0,0.00,2.0,0.0,0.0,177896.93,0.0
4,4,15756475.0,Nnamdi,613.0,France,Female,45.0,10.0,0.00,2.0,1.0,1.0,116748.14,0.0

Testing Data:

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,15000,15797736.0,Chikwendu,591.0,Germany,Female,32.0,2.0,106881.50,2.0,1.0,0.0,122810.53
1,15001,15676515.0,Lai,553.0,Spain,Male,37.0,2.0,0.00,2.0,1.0,0.0,63736.17
2,15002,15701291.0,Folliero,646.0,France,Female,29.0,7.0,0.00,2.0,1.0,0.0,121866.87
3,15003,15594812.0,Trevisani,603.0,Germany,Male,49.0,8.0,131394.56,1.0,0.0,1.0,147059.28
4,15004,15791321.0,Ch'ien,645.0,Spain,Female,39.0,3.0,0.00,2.0,1.0,0.0,129975.94

# 1. Premier traitement <a class="anchor" id="Introduction"></a>
---

1. drop colonne Surname, id, CustomerId

faire attention aux doubons car observations doivent être indépendantes !!

2. encoder variable Gender Age (one hot encoding ou autre)

In [3]:
train_traitement = train.drop_duplicates("CustomerId")
train_traitement.count()

id                 6278
CustomerId         6278
Surname            6278
CreditScore        6278
Geography          6278
Gender             6278
Age                6278
Tenure             6278
Balance            6278
NumOfProducts      6278
HasCrCard          6278
IsActiveMember     6278
EstimatedSalary    6278
Exited             6278
dtype: int64

bizzarerie !!!  car la moitié

In [4]:
train_traitement = train_traitement.drop(columns=['Surname', 'id', 'CustomerId'])

In [5]:
train_traitement = pd.get_dummies(train_traitement, columns=['Gender', 'Geography'], drop_first=True)*1

In [25]:
import statsmodels.api as sm

X = train_traitement.drop(columns=['Exited'])
y = train_traitement['Exited']

# Add a constant to the model
X = sm.add_constant(X)

# Fit the logistic regression model
logit_model = sm.Logit(y, X).fit()

# Print the summary of the model
print(logit_model.summary())

Optimization terminated successfully.
         Current function value: 0.313840
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:                 Exited   No. Observations:                 6278
Model:                          Logit   Df Residuals:                     6266
Method:                           MLE   Df Model:                           11
Date:                Mon, 04 Nov 2024   Pseudo R-squ.:                  0.3713
Time:                        12:41:50   Log-Likelihood:                -1970.3
converged:                       True   LL-Null:                       -3133.7
Covariance Type:            nonrobust   LLR p-value:                     0.000
=====================================================================================
                        coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------
const                -2.7185      0.475     -5.719      0.000      -3.650      -1.787
CreditScore          -0.0016      0.001     -2.926      0.003      -0.003      -0.001
Age                   0.1439      0.005     26.410      0.000       0.133       0.155
Tenure               -0.0544      0.015     -3.749      0.000      -0.083      -0.026
Balance           -5.479e-06   9.27e-07     -5.913      0.000    -7.3e-06   -3.66e-06
NumOfProducts        -1.5861      0.085    -18.630      0.000      -1.753      -1.419
HasCrCard            -0.1826      0.097     -1.877      0.061      -0.373       0.008
IsActiveMember       -1.3110      0.087    -15.039      0.000      -1.482      -1.140
EstimatedSalary    2.124e-06   9.13e-07      2.326      0.020    3.34e-07    3.91e-06
Gender_Male          -0.9123      0.083    -11.036      0.000      -1.074      -0.750
Geography_Germany     1.6698      0.127     13.151      0.000       1.421       1.919
Geography_Spain       0.0776      0.107      0.727      0.467      -0.132       0.287
=====================================================================================

In [7]:

test_traitement = test.drop(columns=['Surname', 'id', 'CustomerId'])
test_traitement = pd.get_dummies(test_traitement, columns=['Gender', 'Geography'], drop_first=True)*1
test_traitement = sm.add_constant(test_traitement)

In [8]:

test_predictions = logit_model.predict(test_traitement)
print(test_predictions)

0       0.231275
1       0.078442
2       0.043892
3       0.589436
4       0.209466
          ...
9995    0.127242
9996    0.781190
9997    0.034970
9998    0.125940
9999    0.351337
Length: 10000, dtype: float64

In [9]:
# Create a new dataframe with 'id' and 'test_predictions'
test_predictions_df = pd.DataFrame({'id': test['id'], 'Predictions': test_predictions})

# Display the new dataframe
print(test_predictions_df.head())

      id  Predictions
0  15000     0.231275
1  15001     0.078442
2  15002     0.043892
3  15003     0.589436
4  15004     0.209466

In [10]:
# Save the test_predictions_df to a CSV file
test_predictions_df.to_csv('test_predictions.csv', index=False)

pycarest pour tester tous les modèles. 
LIGHT GBM

In [ ]:
hyperpara