# 1. Import data <a class="anchor" id="Introduction"></a>
---

In [23]:
from pycaret.datasets import get_data

# load sample dataset
data = get_data('data/train_traitement')

,CreditScore,Age,Tenure,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Gender_Male,Geography_Germany,Geography_Spain
0,683.0,49.0,7.0,2.0,1.0,1.0,138700.75,1.0,1,1,0
1,608.0,30.0,10.0,2.0,1.0,1.0,146723.72,0.0,0,0,0
2,539.0,32.0,8.0,1.0,1.0,1.0,94873.60,0.0,0,0,0
3,530.0,39.0,8.0,2.0,0.0,0.0,177896.93,0.0,0,0,1
4,613.0,45.0,10.0,2.0,1.0,1.0,116748.14,0.0,0,0,0

In [24]:
from pycaret.classification import *
s = setup(data, target = 'Exited', session_id = 123)

In [29]:
best = compare_models()

Initiated  . . . . . . . . . . . . . . . . . .              18:08:34
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

In [30]:
best_tuned = tune_model(best, optimize = 'AUC')

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [39]:
# null
# train a few models
lr = create_model('lr')
dt = create_model('dt')
knn = create_model('knn')

# stack models
stacker = stack_models([lr, dt, knn])

In [9]:
evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [33]:
from sklearn.ensemble import GradientBoostingClassifier

# Extract the best model with the best hyperparameters
best_model = GradientBoostingClassifier(**best_tuned.get_params())

# Display the best model and its hyperparameters
print(best_tuned)

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='log_loss', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_samples_leaf=1,
                           min_samples_split=2, min_weight_fraction_leaf=0.0,
                           n_estimators=100, n_iter_no_change=None,
                           random_state=123, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [12]:
save_model(best, 'my_best_pipeline')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(exclude=None,
                                     include=['id', 'CustomerId', 'CreditScore',
                                              'Age', 'Tenure', 'Balance',
                                              'NumOfProducts', 'HasCrCard',
                                              'IsActiveMember',
                                              'EstimatedSalary'],
                                     transformer=SimpleImputer(add_indicator=False,
                                                               copy=True,
                                                               fill_value=None,
                                                               keep_empty_features=False,
                                                               missing_values=nan,
                                                               strat...
                                             criterion='friedman_mse', init=None,
                                             learning_rate=0.1, loss='log_loss',
                                             max_depth=3, max_features=None,
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators=100,
                                             n_iter_no_change=None,
                                             random_state=123, subsample=1.0,
                                             tol=0.0001, validation_fraction=0.1,
                                             verbose=0, warm_start=False))],
          verbose=False),
 'my_best_pipeline.pkl')

In [13]:
predict_model(best)

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,prediction_label,prediction_score
12360,12360,15798824.0,Cattaneo,685.0,France,Male,32.0,9.0,0.000000,2.0,0.0,1.0,169862.015625,0.0,0,0.9914
5637,5637,15809736.0,Ch'iu,644.0,France,Female,33.0,9.0,145875.734375,1.0,0.0,1.0,35342.328125,0.0,0,0.9641
816,816,15741092.0,Ch'iu,605.0,France,Male,32.0,6.0,0.000000,2.0,1.0,1.0,179655.687500,0.0,0,0.9902
12555,12555,15685564.0,Oguejiofor,677.0,France,Male,44.0,5.0,0.000000,2.0,1.0,1.0,10109.469727,0.0,0,0.9877
14217,14217,15699340.0,Uspenskaya,582.0,Germany,Male,35.0,1.0,96679.742188,2.0,0.0,0.0,60972.839844,0.0,0,0.9210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4365,4365,15753079.0,Chiagoziem,679.0,Spain,Male,40.0,7.0,135536.406250,1.0,1.0,0.0,89048.460938,0.0,0,0.9433
2499,2499,15660878.0,Okwukwe,539.0,France,Female,45.0,6.0,0.000000,1.0,1.0,0.0,111241.367188,1.0,1,0.8304
240,240,15775293.0,K?,639.0,Germany,Female,37.0,7.0,155059.093750,4.0,1.0,1.0,158845.484375,0.0,1,0.9278
5758,5758,15746569.0,Hsiao,709.0,Spain,Female,23.0,7.0,0.000000,2.0,1.0,1.0,75825.570312,0.0,0,0.9854
5341,5341,15755077.0,Chiu,579.0,France,Female,41.0,3.0,162448.687500,1.0,1.0,0.0,125302.640625,0.0,0,0.8583

In [14]:
predictions = predict_model(best, data=get_data('data/test'), raw_score=True)
predictions.head()

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,15000,15797736.0,Chikwendu,591.0,Germany,Female,32.0,2.0,106881.50,2.0,1.0,0.0,122810.53
1,15001,15676515.0,Lai,553.0,Spain,Male,37.0,2.0,0.00,2.0,1.0,0.0,63736.17
2,15002,15701291.0,Folliero,646.0,France,Female,29.0,7.0,0.00,2.0,1.0,0.0,121866.87
3,15003,15594812.0,Trevisani,603.0,Germany,Male,49.0,8.0,131394.56,1.0,0.0,1.0,147059.28
4,15004,15791321.0,Ch'ien,645.0,Spain,Female,39.0,3.0,0.00,2.0,1.0,0.0,129975.94

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,prediction_label,prediction_score_0,prediction_score_1
0,15000,15797736.0,Chikwendu,591.0,Germany,Female,32.0,2.0,106881.5000,2.0,1.0,0.0,122810.531250,0,0.9208,0.0792
1,15001,15676515.0,Lai,553.0,Spain,Male,37.0,2.0,0.0000,2.0,1.0,0.0,63736.171875,0,0.9858,0.0142
2,15002,15701291.0,Folliero,646.0,France,Female,29.0,7.0,0.0000,2.0,1.0,0.0,121866.867188,0,0.9821,0.0179
3,15003,15594812.0,Trevisani,603.0,Germany,Male,49.0,8.0,131394.5625,1.0,0.0,1.0,147059.281250,0,0.5038,0.4962
4,15004,15791321.0,Ch'ien,645.0,Spain,Female,39.0,3.0,0.0000,2.0,1.0,0.0,129975.937500,0,0.9578,0.0422

In [15]:
predictions

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,prediction_label,prediction_score_0,prediction_score_1
0,15000,15797736.0,Chikwendu,591.0,Germany,Female,32.0,2.0,106881.500000,2.0,1.0,0.0,122810.531250,0,0.9208,0.0792
1,15001,15676515.0,Lai,553.0,Spain,Male,37.0,2.0,0.000000,2.0,1.0,0.0,63736.171875,0,0.9858,0.0142
2,15002,15701291.0,Folliero,646.0,France,Female,29.0,7.0,0.000000,2.0,1.0,0.0,121866.867188,0,0.9821,0.0179
3,15003,15594812.0,Trevisani,603.0,Germany,Male,49.0,8.0,131394.562500,1.0,0.0,1.0,147059.281250,0,0.5038,0.4962
4,15004,15791321.0,Ch'ien,645.0,Spain,Female,39.0,3.0,0.000000,2.0,1.0,0.0,129975.937500,0,0.9578,0.0422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,24995,15642063.0,Tung,694.0,Spain,Male,41.0,6.0,0.000000,2.0,0.0,0.0,171378.765625,0,0.9797,0.0203
9996,24996,15731267.0,Hsiao,614.0,France,Female,55.0,8.0,157597.609375,1.0,1.0,0.0,70974.132812,1,0.0569,0.9431
9997,24997,15673367.0,Manna,589.0,France,Male,41.0,4.0,0.000000,2.0,1.0,1.0,123475.882812,0,0.9796,0.0204
9998,24998,15626141.0,Chukwumaobim,543.0,Germany,Male,33.0,2.0,151659.515625,1.0,1.0,1.0,86911.492188,0,0.9600,0.0400
9999,24999,15807312.0,T'ao,593.0,Germany,Male,45.0,3.0,135870.015625,2.0,1.0,0.0,50368.628906,0,0.7549,0.2451

In [18]:
# Rename the column 'prediction_score_1' to 'Predictions'
test_predictions_df = test_predictions_df.rename(columns={'prediction_score_1': 'Predictions'})

# Display the new dataframe
print(test_predictions_df.head())

      id  prediction_score_1
0  15000              0.0792
1  15001              0.0142
2  15002              0.0179
3  15003              0.4962
4  15004              0.0422

In [19]:
test_predictions_df.to_csv('test_predictions.csv', index=False)